
Untitled Folder/.ipynb_checkpoints/코드잇_프로그래밍 기초 in Python-checkpoint.ipynb
코드잇_프로그래밍 기초 in Python/.ipynb_checkpoints/프로그래밍 핵심개념 in Python-checkpoint.ipynb
코드잇_프로그래밍 기초 in Python/.ipynb_checkpoints/프로그래밍과 데이터 in Python-checkpoint.ipynb
코드잇_데이터사이언스입문/.ipynb_checkpoints/Numpy-checkpoint.ipynb
코드잇_데이터사이언스입문/.ipynb_checkpoints/데이터 사이언스 시작하기-checkpoint.ipynb
코드잇_데이터사이언스입문/.ipynb_checkpoints/Data Frame 다루기-checkpoint.ipynb
코드잇_데이터사이언스입문/data/iphone.csv
코드잇_데이터사이언스입문/.ipynb_checkpoints/3_1.시각화와 그래프-checkpoint.ipynb
코드잇_데이터사이언스입문/data/world_cities.csv
코드잇_데이터사이언스입문/data/sports.csv
코드잇_데이터사이언스입문/data/silicon_valley_summary.csv
코드잇_데이터사이언스입문/data/liverpool.csv
코드잇_데이터사이언스입문/data/laptops.csv
코드잇_데이터사이언스입문/data/broadcast.csv
코드잇_데이터사이언스입문/data/silicon_valley_details.csv
코드잇_데이터사이언스입문/data/body.csv
코드잇_데이터사이언스입문/data/exam.csv
